@import url('https://fonts.googleapis.com/css?family=Concert+One&subset=latin-ext');

body {
  text-align: center;
  background-color: #fcf6e3;
  font-family: 'Concert One', cursive;
}

.menu {
  text-decoration: none;
  color: #a87c6f;
  padding: 0px 50px;
  font-size: 30px
}

/*http://www.color-hex.com/color-palette/53444*/
